<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>크레디뷰 Design System - layout</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, interactive-widget=resizes-content"
    />
    <link rel="stylesheet" href="/static/crediview/crediview-m/css/designsystem.css" />
  </head>
  <body>
    <div class="comp-inner-root">
      <div class="comp-top">
        <h2 class="comp-pagetitle">Footer</h2>
        <p class="comp-pagetitle-desc">Landing footer</p>
        <button type="button" class="comp-btn-code" onclick="openCode()">Code View</button>
      </div>

      <div id="compContents">
        <section class="comp-section">
          <h3 class="comp-objtitle">Footer</h3>

          <footer class="SOLFooter-root t--dark">
            <div class="SOLFooter-inner">
              <div class="inquery-for-use">
                <h3 class="tit">이용문의</h3>
                <a href="tel:1660-3832" class="inquery-number">1660-3832</a>

                <ul class="inquery-for-list">
                  <li>
                    <span class="title">운영시간</span>
                    <span class="txt">평일 09:00~18:00, 점심시간 12:00~13:00</span>
                  </li>
                </ul>
              </div>

              <div class="SOLFooter-utils">
                <p class="person-info">
                  <a href="#">신용평가체계</a>
                  <a href="#"><em>개인정보처리방침</em></a>
                </p>

                <div class="SOLFooter-dropbox">
                  <div class="SOLFooter-dropbox-inner">
                    <button type="button" class="SOLFooter-dropbox-btn">Family Site</button>
                    <ul>
                      <li><a href="https://techfinratings.com" target="_blank">Techfin ratings</a></li>
                      <li><a href="" target="_blank">WEHAGO</a></li>
                      <li><a href="" target="_blank">Amaranth 10</a></li>
                      <li><a href="" target="_blank">OmniEsol</a></li>
                      <li><a href="" target="_blank">매출채권팩토링 플랫폼</a></li>
                    </ul>
                  </div>
                </div>

                <div class="sns-link">
                  <ul class="sns-list">
                    <li>
                      <a href="#">
                        <img src="/static/crediview/crediview-m/image/icon/ic_sns_kakao.svg" alt="카카오톡 로고" />
                        <span>카카오톡</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="sns-blackbook">
                          <span class="blind">BLACK BOOK</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <a href="#" class="pc-v">PC버전</a>
                </div>
              </div>

              <div class="SOLFooter-bottom">
                <h3 class="footer-logo">
                  <span class="blind">테크핀레이팅스</span>
                </h3>
                <div class="SOLFooter-address">
                  <p>(주)테크핀레이팅스 | 사업자등록번호 370-88-02545</p>
                  <p>대표 옥형석 | 통신판매업신고 024-서울중구-1794</p>
                  <p>대표전화 1660-3832</p>
                  <p class="copyright">Copyright©Techfinratings Co,. Ltd All Rights Reserved.</p>
                </div>
              </div>
            </div>
          </footer>
        </section>
      </div>
    </div>

    <!-- code view -->
    <script src="/src/app/designsystem/js/highlight.min.js"></script>
    <script src="/src/app/designsystem/js/go.min.js"></script>
    <script src="/src/app/designsystem/js/codeview.js"></script>
    <script>
      hljs.highlightAll();
    </script>

    <!-- component js -->
    <script src="/src/app/designsystem/js/popper.min.js"></script>
    <script src="/src/app/designsystem/js/tippy-bundle.umd.js"></script>
    <script src="/src/app/crediview/crediview-m/js/custom.js"></script>
  </body>
</html>
