<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>크레디뷰 Design System - layout</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, interactive-widget=resizes-content"
    />
    <link rel="stylesheet" href="/static/crediview/crediview-m/css/designsystem.css" />
    <style>
      .SOLHeader-root {
        z-index: unset !important;
        position: relative !important;
        height: 56px;
      }
      .SOLHeader-nav {
        position: absolute !important;
        height: 760px;
      }
    </style>
  </head>
  <body>
    <div class="comp-inner-root">
      <div class="comp-top">
        <h2 class="comp-pagetitle">Header</h2>
        <p class="comp-pagetitle-desc">Landing 및 로그인화면 header</p>
        <button type="button" class="comp-btn-code" onclick="openCode()">Code View</button>
      </div>

      <div id="compContents">
        <section class="comp-section">
          <h3 class="comp-objtitle">Header theme : main(로그인 전)</h3>

          <header class="SOLHeader-root t--landing">
            <div class="SOLHeader-inner">
              <h1 class="SOLHeader-logo">
                <a href="#">
                  <div class="logo">
                    <span class="eng">Crediview</span>
                    <span class="kr">크레디뷰</span>
                  </div>
                </a>
              </h1>

              <div class="SOLHeader-global">
                <a href="/src/app/crediview/members/signup/index.html" class="SOLHeader-global-link">로그인</a>
                <button type="button" class="SOLIconBtn-root SOLHeader-menuBtn">
                  <i class="SOLIcon-root SOLIcon-hamburger"></i>
                  <span class="blind">전체메뉴 보기</span>
                </button>

                <nav class="SOLHeader-nav">
                  <h3 class="blind">전체메뉴</h3>
                  <div class="SOLHeader-nav-header">
                    <h1 class="SOLHeader-logo">
                      <a href="#">
                        <div class="logo">
                          <span class="eng">Crediview</span>
                        </div>
                      </a>
                    </h1>

                    <div class="SOLHeader-global">
                      <button type="button" class="SOLIconBtn-root SOLHeader-closeBtn">
                        <i class="SOLIcon-root SOLIcon-close s--lg"></i>
                        <span class="blind">전체메뉴 닫기</span>
                      </button>
                    </div>
                  </div>

                  <!-- 전체메뉴 start -->
                  <div class="SOL-mb-gnb">
                    <ul class="gnb-menu">
                      <li class="depth01">
                        <a href="#">기업신용평가</a>
                        <ul class="sub-menu depth02">
                          <li><a href="#" class="on">기업신용평가 소개</a></li>
                          <li><a href="#">신용평가 신청</a></li>
                          <li><a href="#">신용평가등급확인서 제출</a></li>
                          <li><a href="#">등급 산출 및 제출내역</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">
                          기업경영진단
                          <span class="label-tag"><span>BETA</span></span>
                        </a>
                        <ul class="sub-menu depth02">
                          <li><a href="#">기업경영진단 소개</a></li>
                          <li><a href="#">경영진단 신청</a></li>
                          <li><a href="#">진단내역</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">마이페이지</a>
                        <ul class="sub-menu depth02">
                          <li><a href="#">회사관리</a></li>
                          <li><a href="#">인증서 관리</a></li>
                          <li><a href="#">회원관리</a></li>
                          <li><a href="#">내 정보 관리</a></li>
                          <li><a href="#">정산관리</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">진본 확인 서비스</a>
                      </li>
                      <li class="depth01">
                        <a href="#">고객지원</a>
                        <ul class="sub-menu depth02">
                          <li><a href="#">공지사항</a></li>
                          <li><a href="#">자주 묻는 질문</a></li>
                          <li><a href="#">1:1 문의</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">회사 소개</a>
                      </li>
                      <li class="depth01">
                        <a href="#" target="_blank">
                          <span class="">
                            <span class="blind">BLACK BOOK</span>
                          </span>
                          <i class="SOLIcon-root SOLIcon-arr--tr"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- 전체메뉴 end -->

                  <div class="logout-box">
                    <button type="button" class="SOLBtn-root w--full">로그인</button>
                  </div>
                </nav>
              </div>
            </div>
          </header>
        </section>

        <section class="comp-section">
          <h3 class="comp-objtitle">Header theme : main(로그인 후)</h3>

          <header class="SOLHeader-root t--landing">
            <div class="SOLHeader-inner">
              <h1 class="SOLHeader-logo">
                <a href="#">
                  <div class="logo">
                    <span class="eng">Crediview</span>
                    <span class="kr">크레디뷰</span>
                  </div>
                </a>
              </h1>

              <div class="SOLHeader-global">
                <!-- bell button -->
                <button type="button" class="SOLHeader-global-alarm">
                  <i class="SOLIcon-root SOLIcon-alarm"></i>
                  <span class="blind">알림</span>
                </button>

                <button type="button" class="SOLIconBtn-root SOLHeader-menuBtn">
                  <i class="SOLIcon-root SOLIcon-hamburger"></i>
                  <span class="blind">전체메뉴 보기</span>
                </button>

                <nav class="SOLHeader-nav">
                  <h3 class="blind">전체메뉴</h3>
                  <div class="SOLHeader-nav-header">
                    <h1 class="SOLHeader-logo">
                      <a href="#">
                        <div class="logo">
                          <span class="eng">Crediview</span>
                        </div>
                      </a>
                    </h1>

                    <div class="SOLHeader-global">
                      <button type="button" class="SOLIconBtn-root SOLHeader-closeBtn">
                        <i class="SOLIcon-root SOLIcon-close s--lg"></i>
                        <span class="blind">전체메뉴 닫기</span>
                      </button>
                    </div>
                  </div>

                  <!-- 전체메뉴 start -->
                  <div class="SOL-mb-gnb">
                    <ul class="gnb-menu">
                      <li class="depth01">
                        <a href="#">기업신용평가</a>
                        <ul class="sub-menu depth02">
                          <li><a href="#" class="on">기업신용평가 소개</a></li>
                          <li><a href="#">신용평가 신청</a></li>
                          <li><a href="#">신용평가등급확인서 제출</a></li>
                          <li><a href="#">등급 산출 및 제출내역</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">
                          기업경영진단
                          <span class="label-tag"><span>BETA</span></span>
                        </a>
                        <ul class="sub-menu depth02">
                          <li><a href="#">서비스 소개</a></li>
                          <li><a href="#">서비스 신청</a></li>
                          <li><a href="#">진단내역</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">마이페이지</a>
                        <ul class="sub-menu depth02">
                          <li><a href="#">회사관리</a></li>
                          <li><a href="#">인증서 관리</a></li>
                          <li><a href="#">회원관리</a></li>
                          <li><a href="#">내 정보 관리</a></li>
                          <li><a href="#">정산관리</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">고객지원</a>
                        <ul class="sub-menu depth02">
                          <li><a href="#">공지사항</a></li>
                          <li><a href="#">이벤트</a></li>
                          <li><a href="#">블로그</a></li>
                          <li><a href="#">1:1 문의</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">회사 소개</a>
                      </li>
                      <li class="depth01">
                        <a href="#">진본 확인 서비스</a>
                      </li>
                      <li class="depth01">
                        <a href="#" target="_blank">
                          인사이트
                          <i class="SOLIcon-root SOLIcon-arr--t"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- 전체메뉴 end -->

                  <div class="logout-box">
                    <button type="button" class="SOLBtn-root w--full">로그아웃</button>
                  </div>
                </nav>
              </div>
            </div>
          </header>
        </section>

        <section class="comp-section">
          <h3 class="comp-objtitle">Header theme : sub</h3>

          <header class="SOLHeader-root">
            <div class="SOLHeader-inner">
              <div class="SOLHeader-title">
                <button type="button" class="SOLIconBtn-root">
                  <i class="SOLIcon-root SOLIcon-gt--l s--xl"></i>
                  <span class="blind">Prev</span>
                </button>
                <h2 class="SOLHeader-title-text">Page title</h2>
              </div>

              <div class="SOLHeader-global">
                <button type="button" class="SOLIconBtn-root SOLHeader-menuBtn">
                  <i class="SOLIcon-root SOLIcon-hamburger"></i>
                  <span class="blind">전체메뉴 보기</span>
                </button>

                <nav class="SOLHeader-nav">
                  <h3 class="blind">전체메뉴</h3>
                  <div class="SOLHeader-nav-header">
                    <h1 class="SOLHeader-logo">
                      <a href="#">
                        <div class="logo">
                          <span class="eng">Crediview</span>
                        </div>
                      </a>
                    </h1>

                    <div class="SOLHeader-global">
                      <button type="button" class="SOLIconBtn-root SOLHeader-closeBtn">
                        <i class="SOLIcon-root SOLIcon-close s--lg"></i>
                        <span class="blind">전체메뉴 닫기</span>
                      </button>
                    </div>
                  </div>

                  <!-- 전체메뉴 start -->
                  <div class="SOL-mb-gnb">
                    <ul class="gnb-menu">
                      <li class="depth01">
                        <a href="#">기업신용평가</a>
                        <ul class="sub-menu depth02">
                          <li><a href="#" class="on">기업신용평가 소개</a></li>
                          <li><a href="#">신용평가 신청</a></li>
                          <li><a href="#">신용평가등급확인서 제출</a></li>
                          <li><a href="#">등급 산출 및 제출내역</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">
                          기업경영진단
                          <span class="label-tag"><span>BETA</span></span>
                        </a>
                        <ul class="sub-menu depth02">
                          <li><a href="#">서비스 소개</a></li>
                          <li><a href="#">서비스 신청</a></li>
                          <li><a href="#">진단내역</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">마이페이지</a>
                        <ul class="sub-menu depth02">
                          <li><a href="#">회사관리</a></li>
                          <li><a href="#">인증서 관리</a></li>
                          <li><a href="#">회원관리</a></li>
                          <li><a href="#">내 정보 관리</a></li>
                          <li><a href="#">정산관리</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">고객지원</a>
                        <ul class="sub-menu depth02">
                          <li><a href="#">공지사항</a></li>
                          <li><a href="#">이벤트</a></li>
                          <li><a href="#">블로그</a></li>
                          <li><a href="#">1:1 문의</a></li>
                        </ul>
                      </li>
                      <li class="depth01">
                        <a href="#">회사 소개</a>
                      </li>
                      <li class="depth01">
                        <a href="#">진본 확인 서비스</a>
                      </li>
                      <li class="depth01">
                        <a href="#" target="_blank">
                          <span class="sns-blackbook">
                            <span class="blind">BLACK BOOK</span>
                          </span>
                          <i class="SOLIcon-root SOLIcon-arr--tr"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- 전체메뉴 end -->

                  <div class="logout-box">
                    <button type="button" class="SOLBtn-root w--full">로그아웃</button>
                  </div>
                </nav>
              </div>
            </div>
          </header>
        </section>
      </div>
    </div>

    <!-- code view -->
    <script src="/src/app/designsystem/js/highlight.min.js"></script>
    <script src="/src/app/designsystem/js/go.min.js"></script>
    <script src="/src/app/designsystem/js/codeview.js"></script>
    <script>
      hljs.highlightAll();
    </script>

    <!-- component js -->
    <script src="/src/app/designsystem/js/popper.min.js"></script>
    <script src="/src/app/designsystem/js/tippy-bundle.umd.js"></script>
    <script src="/src/app/crediview/crediview-m/js/custom.js"></script>
  </body>
</html>
